appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1631874778482/work
Bottleneck @ file:///work/ci_py311/bottleneck_1676827011612/work
Brotli @ file:///work/ci_py311/brotli-split_1676830125088/work
certifi==2023.7.22
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
cssselect @ file:///home/conda/feedstock_root/build_artifacts/cssselect_1666980406338/work
fake-useragent @ file:///home/conda/feedstock_root/build_artifacts/fake-useragent_1690991150353/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
lxml @ file:///croot/lxml_1695058164555/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///croot/numpy_and_numpy_base_1695830428084/work/dist/numpy-1.26.0-cp311-cp311-linux_x86_64.whl#sha256=184178a893ff0b5e0cb1b0b7a0dddff49dc91424c4e4a01e29bcb05f27a698a6
pandas @ file:///croot/pandas_1692289311655/work
parse @ file:///home/conda/feedstock_root/build_artifacts/parse_1688649649485/work
pyee @ file:///home/conda/feedstock_root/build_artifacts/pyee_1644152123334/work
pyppeteer @ file:///home/conda/feedstock_root/build_artifacts/pyppeteer_1643233645996/work
pyquery @ file:///home/conda/feedstock_root/build_artifacts/pyquery_1672254940892/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///croot/pytz_1695131579487/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-html @ file:///home/conda/feedstock_root/build_artifacts/requests-html_1624699576190/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1636706018808/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1695649846578/work
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1691236459676/work
websockets @ file:///croot/websockets_1678966790840/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1695255097490/work
